<section class="w-full h-full relative flex justify-center items-center">
    <div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:15rem_10rem]"></div>
    <div class="w-[60%] h-[70%] shadow-sm bg-transparent rounded-md backdrop-blur-sm flex items-center justify-center">
        <p class="font-bold text-xl">
            Preview your animated components here
        </p>
    </div>
</section>
